name: CI/CD - Build, Push and Deploy to ArgoCD
on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  build-image:
    permissions:
      id-token: write
      contents: write
      packages: write
    uses: ./.github/workflows/1-build-image-dev.yaml
    with:
      owner: mitte-ch
      service: food-dispatch-frontend
      environment: development
      repository-owner: mitte-ch

  update-tag:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/2-update-tag-dev.yaml
    needs: build-image
    with:
      environment: development
      repository-name: mitte-deployments
      service: food-dispatch-frontend
      tag: ${{needs.build-image.outputs.tag}}
      env-path-name: dev
    secrets:
       private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
