name: CI/CD - Build Image and Push to GHCR

on:
  workflow_call:
    inputs:
      owner:
        required: true
        type: string
      service:
        required: true
        type: string
      environment:
        required: true
        type: string
      repository-owner:
        required: false
        type: string
        default: mitte-ch        
    outputs:
      tag:
        description: "Tag of the new built docker image"
        value: ${{ jobs.build.outputs.tag }}

jobs:
  build:
    environment:
      name: DEV
    name: Build Image and Push to GHCR
    env:
      DOCKER_BUILDKIT: 1
      GHCR_REPOSITORY: "ghcr.io/${{ inputs.repository-owner }}/${{ inputs.service }}"      
    runs-on: ubuntu-22.04
    outputs:
      tag: ${{ steps.set_github_run_number.outputs.outtag }}
    steps:
      - name: Checkout Git Code
        uses: actions/checkout@v3


          
      - name: verify path
        run: |
          ls -ltra
          pwd
          npm install

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'          

      - name: Install Node.js dependencies
        run: npm ci

      - name: Run Trivy filesystem vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scan-ref: .
          format: table
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: os,library
          cache: false
          severity: CRITICAL,HIGH
        env:
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db                  

      - name: Build application
        run: npm run build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Set GITHUB_RUN_NUMBER
        id: set_github_run_number
        run: |
          echo GITHUB_RUN_NUMBER=$(( GITHUB_RUN_NUMBER ))>> $GITHUB_ENV
          echo "outtag=${{ github.event.repository.name }}-$((GITHUB_RUN_NUMBER))" >> $GITHUB_OUTPUT

          
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}      

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          no-cache: true
          tags: |
            ${{ env.GHCR_REPOSITORY }}:${{ steps.set_github_run_number.outputs.outtag }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ env.GHCR_REPOSITORY }}:${{ steps.set_github_run_number.outputs.outtag }}"
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'          
          severity: 'CRITICAL,HIGH'
        env:
          TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db          
